{% extends 'base.html' %}
{% load my_filters i18n %}

{% block content %}
    {% show_navbar 'index' %}
    <div class="body_img">
            <a href="#link_img" class="img_up">
                <img src="static/img/up.png" alt="">
            </a>
        </div>
    
        <div class="container">
            <div class="news">
                <h1 class="mb-3 text-light">Автоновости мира и России</h1>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/bisnes.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / Авто и бизнес</h5>
                                <p class="card-text">Создатель BMW X6 и нового стиля Haval Оступился в Kia</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/znak.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / В России</h5>
                                <p class="card-text">В России готовятся строить самую дорогую автотрассу</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/niassan.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / Новинки</h5>
                                <p class="card-text">Кроссовер Nissan, созданный по рецепту Renault: премьера в октябре</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/bisnes.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / Авто и бизнес</h5>
                                <p class="card-text">Создатель BMW X6 и нового стиля Haval Оступился в Kia</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/znak.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / В России</h5>
                                <p class="card-text">В России готовятся строить самую дорогую автотрассу</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/niassan.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / Новинки</h5>
                                <p class="card-text">Кроссовер Nissan, созданный по рецепту Renault: премьера в октябре</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/bisnes.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / Авто и бизнес</h5>
                                <p class="card-text">Создатель BMW X6 и нового стиля Haval Оступился в Kia</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/znak.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / В России</h5>
                                <p class="card-text">В России готовятся строить самую дорогую автотрассу</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/niassan.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / Новинки</h5>
                                <p class="card-text">Кроссовер Nissan, созданный по рецепту Renault: премьера в октябре</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/bisnes.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / Авто и бизнес</h5>
                                <p class="card-text">Создатель BMW X6 и нового стиля Haval Оступился в Kia</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/znak.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / В России</h5>
                                <p class="card-text">В России готовятся строить самую дорогую автотрассу</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        <div class="card" style="max-width: 100%;">
                            <img class="card-img-top" src="static/img/niassan.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Новости / Новинки</h5>
                                <p class="card-text">Кроссовер Nissan, созданный по рецепту Renault: премьера в октябре</p>
                                <a href="#" class="btn btn-primary">Далее...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    
        <button type="button" class="btn btn-primary my_question" data-toggle="modal" data-target="#exampleModal">
          Написать нам
        </button>
    
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Появились вопросы?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="#" class="form">
                    <input class="form-control mt-2" type="text" placeholder="Введите имя">
                    <input class="form-control mt-2" type="text" placeholder="Введите телефон">
                    <textarea class="form-control my_textarea mt-2" style="max-height: 100px; min-height: 100px;" placeholder="Сообщение"></textarea>
                </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="myFunction()">Отправить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="myFunction2()">Закрыть</button>  
              </div>
            </div>
          </div>
        </div>
    {% show_footer 'index' %}
{% endblock %}