{% extends 'base.html' %}
{% load my_filters i18n %}

{% block content %}
    {% show_navbar 'index' %}
    <div class="body_img">
            <a href="#link_img" class="img_up">
              <img src="../static/img/up.png" alt="">
            </a>
          </div>
        
          <div class="top">
              <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h1 class="text-light">ТОП лучших автомобилей  по соотношению цена-качество 2018</h1>
                      <p class="text-light">Представляем Вашему вниманию ТОП автомобилей по соотношению цена-качество в 2017-2018 году. Разумеется, наше мнение может показаться читателю субъективным, но оно ориентируется как на отзывы автолюбителей, так и на мнение мировых экспертов. Мы собрали ТОП 10 лучших моделей которые побили продажи в 2017 году и продолжают ставить рекорды в 2018 году.</p>
                    </div>
                  </div>
              </div>
          </div>
        
          <div class="top_cars mt-4">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-3">
                      <img class="card-img-top" src="../static/img/hynday.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Hyundai Solaris</h5>
                        <p class="card-text">Именно эта модель находится на почетном 10-м месте нашего ТОПА. На московском автосалоне 2010 года компания Hyundai показала предсерийный вариант седана для российского рынка, а в январе 2011 года серийное производство модели под именем Hyundai Solaris началось на заводе в Санкт-Петербурге. Позднее на конвейер встал пятидверный хэтчбек. Автомобиль моментально завоевал многочисленные положительные отклики автолюбителей, а в 2017 году получил рестайлинг и стал еще красивей. Радует непревзойденное качество сборки корейского автомобиля, а так же его экономичный режим работы. Скоростные характеристики Hyundai Solaris не самые высокие, но это и не важно для автомобилей до 700 тыс. рублей.</p>
                        <p class="card-text"><small class="text-muted">Последнее обновление 3 минуты назад</small></p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="top_cars mt-4">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-3">
                      <img class="card-img-top" src="../static/img/volks.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Volkswagen Passat</h5>
                        <p class="card-text">Немецкий автопром всегда ценился за высокое качество во всех отношениях. Относительно недорогой и надежный VW Passat со всеми своими преимуществами располагается на 9 строчке хит-парада. Производство автомобиля Volkswagen Passat началось в 1973 году. Эта машина по сути была модификацией модели Audi 80 (в 1964 году компания «Ауди» была куплена «Фольксвагеном»). С тех далеких времен автомобиль полностью поменял свой имидж. В последней модели автомобиля появилось больше «растянутых» линий, плавных элементов, стремительных линий. Солидный, степенный, приземистый вид – это заслуга правильных пропорций. Его строгий и роскошный облик нравится уже взрослым людям которые никуда не торопятся. Модель достаточно неприхотлива в обслуживании и экономичная. Очень ценятся даже б-у автомобили. За полтора миллиона рублей можно приобрести практически полностью заряженную новую машину, что не может ни радовать.</p>
                        <p class="card-text"><small class="text-muted">Последнее обновление 3 минуты назад</small></p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="top_cars mt-4">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-3">
                      <img class="card-img-top" src="../static/img/ford.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Ford Focus</h5>
                        <p class="card-text">Еще одна всем известная марка занимает восьмое место. Компания Ford не прекращает обновлять линейку автомобилей Focus и радует автомобилистов высоким уровнем комфорта, безопасности, потрясающим внешним видом и, конечно же, доступностью. Ford Focus — это сочетание прекрасного дизайна, и неприхотливого обслуживания. Не может ни радовать фиксированная цена на обслуживание во всех регионах нашей страны. Ford Focus стал флагманом современного рынка среди моделей, стоимость автомобилей до 1 миллиона рублей. В 2017-2018 его можно было приобрести практически в любом автосалоне уже в рестайлинге. Спрос даже на подержанные модели весьма велик, за 2017 год в России было продано более 7 тыс. новых автомобилей.</p>
                        <p class="card-text"><small class="text-muted">Последнее обновление 2 минуты назад</small></p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="top_cars mt-4">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-3">
                      <img class="card-img-top" src="../static/img/camry.png" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Toyota Camry 2018</h5>
                        <p class="card-text">Toyota Camry стоит не так дешево, как многим хотелось бы, но при этом человек получает в свое распоряжение машину бизнес класса за разумные деньги. В 2018 году можно купить топовую версию за 2 миллиона рублей. Если сравнивать ее с тем же Пассатом, то по характеристикам по всем показателям в одной ценовой категории она его обойдет, кроме интелектуальных помощников и умных ламп освещения. В 2017 году начался выпуск уже восьмого поколения Toyota Camry. Можно с уверенностью утверждать, что это принципиально новый автомобиль с необычной спортивной внешностью. Архитектура интерьера пересмотрена радикальным образом. Данная модель также отличается от предшественников большим количеством дополнительных опций и новой коробкой автомат. Если обобщить всю информацию о Камри последнего поколения, то модель можно охарактеризовать всего тремя словами – локальная автомобильная революция.</p>
                        <p class="card-text"><small class="text-muted">Последнее обновление 1 минуты назад</small></p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    {% show_footer 'index' %}
{% endblock %}